- if user_signed_in?
  - if @pets.any?
    - @pets.each do |pet|
      %h2= pet.name
      %p need to go: unknown
      - if pet.dumps.any?
        %p last dump at #{ last_dump(pet) }
      = render partial: "dumps/dump_entry", locals: { pet: pet }
  - else
    %h2 no pets added yet
  %a(href=new_pet_path) add a pet
- else
  %p Join us to track your pets business
